body {
    text-align: center;
}

h1 {
    font-size: 90px;
    font-weight: 1000px;
}

h4 {
    font-size: 40px;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

button:hover {
    background-color: green;
}

h2 {
    font-size: 35px;
    font-weight: bolder;
}